.button1{
    background-color: red; color:black;
}
.button2{
    background-color: skyblue; color:white
}
.button3{
    background-color:orange;color:white
}
.button4{
    background-color:Black;color:white
}
.button5{
    background-color: red;color:white
}
.button5{
    background-color:#FF1C8E;color:white
}
.button6{
    background-color: #9146FF;color:white;
}
.button7{
    background-color: #0b305c;color:white;
}