body {
    margin: 0;
    overflow: hidden;
    background: #282c34;
}
#game {
    position: relative;
    width: 800px;
    height: 200px;
    margin: 40px auto;
    background: #ddd;
    overflow: hidden;
    border: 2px solid #555;
}
#player {
    width: 40px;
    height: 40px;
    background: #5C6AC4;
    position: absolute;
    bottom: 0;
    left: 50px;
    border-radius: 4px;
}
.obstacle {
    width: 40px;
    height: 40px;
    background: #d9534f;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px;
}
#score {
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}