.text1{
    color:#3481ed 
}
.text2{
    color:#369e42
}
.text3{
    color:#fc1408
}
.text4{
    color:#ede726
}
.text5{
    color:#fa4646
}
.text6{
    color:#6119fc
}
.text7{
    color:#3af022
}
.text8{
    color:#f2cb07
}
.text9{
    color:#07def2
}